page-image-post {
    img {
        height: 200px;
        width: 180px;
    }
    .img-div {
        text-align: center;
    }
    .input {
        border: 1px groove #c5c5c5;
        margin-bottom: 15px;
        margin-top: 10px;
        border-radius: 5px;
        color: #a19f9f;
    }
    h3 {
        color: #632901;
    }
    .Btn {
        width: 70%;
        height: 50px;
    }
}