page-registration {
    .loginBtn {
        width: 70%;
        height: 50px;
    }
    .register {
        text-align: center;
    }
    .input {
        border: 1px groove #c5c5c5;
        margin-bottom: 15px;
        border-radius: 5px;
        color: #a19f9f;
        margin-right: 10px;
    }
}