page-upload-photo {
    .userImg {
        height: 200px;
        width: 150px;
        border-radius: 30%;
        border: 1px solid #a19f9f;
        margin-top: 20px;
    }
    div {
        text-align: center;
    }
    .Btn {
        margin-top: 20px;
        width: 70%;
        height: 50px;
    }
}